<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-image: url("https://media.istockphoto.com/id/175387175/photo/blue-wooden-wall-texture.jpg?b=1&s=170667a&w=0&k=20&c=Vi23QTC5k21fb5scqgoFco6FVD63ot6dInMsrdD1qTY=");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .slide_left:hover {
        box-shadow: inset 0 0 0 50px #D80286;
        }        
    </style>
    <title>Liver Predicted category</title>
</head>
<body>
    <center>
    <h1>The predicted RESULT is <ul>-ve</ul></h1>
    <table>
        <tr>
            <th>Result</th>
            <td>+ve</td>
        </tr>
        <tr>
            <th>confidence</th>
            <td>{{confidence}}</td>  
        </tr>
    </table>
    </center>
    <footer>
        <center>
            <form action="/">
            <button class="button_slide slide_left">Go back</button>
            </form>
        </center>
    </footer>
</body>
</html>